services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app/
    ports:
      - 8000:8000
    networks:
      - local-network
    depends_on:
      - db
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app/
      - /app/node_modules
    ports:
      - 5173:5173
    networks:
      - local-network
    depends_on:
      - backend
  db:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      - POSTGRES_USER=venture-user
      - POSTGRES_PASSWORD=venture-pass
      - POSTGRES_DB=venture-db
    networks:
      - local-network

volumes:
  postgres_data:

networks:
  local-network:
    driver: bridge